{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InfoSpoofing</title>
        <!-- links and scripts for the graphs -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/website.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'ammap/ammap.css' %}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="{% static 'ammap/ammap.js' %}" type="text/javascript"></script>
        <!-- map file should be included after ammap.js -->
        <script src="{% static 'ammap/maps/js/worldLow.js' %}" type="text/javascript"></script>
        <script src="{% static 'ammap/themes/light.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/amcharts.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/pie.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/serial.js' %}" type="text/javascript"></script>
        <script src="{% static 'amcharts/plugins/dataloader/dataloader.min.js' %}" type="text/javascript"></script>
<!-- MAP SCRIPT -->
        <script>
            AmCharts.theme = AmCharts.themes.light;
            var map;
            AmCharts.ready(function() {
                map = new AmCharts.AmMap();
                map.colorSteps = 0;
                //load data map
                map.dataLoader = {
                    url: "{% static 'csv/map.json' %}",
                };
                map.areasSettings = {
                    autoZoom: true,
                    descriptionWindowTop: 10,
                    descriptionWindowRight: 10,
                    rollOverColor:"#2EA93D",
                };
                map.legend = {
                    width: "100%",
                    marginRight: 27,
                    marginLeft: 27,
                    equalWidths: false,
                    backgroundAlpha: 0.5,
                    backgroundColor: "#FFFFFF",
                    borderColor: "#ffffff",
                    borderAlpha: 1,
                    top: 302,
                    left: 0,
                    horizontalGap: 10,
                    data:[{
                        "title": "Data available",
                        "color": "#33773D"
                    },{
                        "title": "Data not available",
                        "color": "#929393"
                    }]
                };
                map.projection = "Equirectangular";
                map.mouseWheelZoomEnabled= true;
                map.backgroundZoomsToTop= false;
                //when click on a country, show information
                map.listeners = [ {
                    "event": "clickMapObject",
                    "method": function( event ) {
                        if (event.mapObject.title=="Australia"){
                             // load link to AU page in description A
                            document.getElementById("descriptionA").innerHTML = '<a href="http://infospoofing.pythonanywhere.com/au" style="color: 159124;">VISIT AU PAGE</a>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/AU_pie" width=100% height=32% frameborder="0"></iframe>';
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/AU_AS" width=100% height=50% frameborder="0"></iframe>';
                        } else if (event.mapObject.title=="United Kingdom"){
                            document.getElementById("descriptionA").innerHTML = '<a href="http://infospoofing.pythonanywhere.com/uk" style="color: 159124;">VISIT UK PAGE</a>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/UK_pie" width=100% height=32% frameborder="0"></iframe>';
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/UK_AS" width=100% height=50% frameborder="0"></iframe>';
                        } else if (event.mapObject.title=="Germany"){
                            // load link to DE page in description A
                            document.getElementById("descriptionA").innerHTML = '<a href="http://infospoofing.pythonanywhere.com/de" style="color: 159124;">VISIT DE PAGE</a>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/DE_pie" width=100% height=32% frameborder="0"></iframe>';
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/DE_AS" width=100% height=50% frameborder="0"></iframe>';
                        }  else if (event.mapObject.title=="Netherlands"){
                             // load link to NL page in description A
                            document.getElementById("descriptionA").innerHTML = '<a href="http://infospoofing.pythonanywhere.com/nl" style="color: 159124;">VISIT NL PAGE</a>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/NL_pie" width=100% height=32% frameborder="0"></iframe>';
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/NL_AS" width=100% height=50% frameborder="0"></iframe>';
                        } else if (event.mapObject.title=="Italy"){
                            // load link to IT page in description A
                            document.getElementById("descriptionA").innerHTML = '<a href="http://infospoofing.pythonanywhere.com/it" style="color: 159124;">VISIT IT PAGE</a>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/IT_pie" width=100% height=32% frameborder="0"></iframe>';
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/IT_AS" width=100% height=50% frameborder="0"></iframe>';
                        } else if (event.mapObject.title=="Poland"){
                        //     // load link to PL page in description A
                            document.getElementById("descriptionA").innerHTML = '<a href="http://infospoofing.pythonanywhere.com/pl" style="color: 159124;">VISIT PL PAGE</a>';
                            document.getElementById("descriptionB").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/PL_pie" width=100% height=32% frameborder="0"></iframe>';
                            document.getElementById("descriptionC").innerHTML = '<iframe src="http://infospoofing.pythonanywhere.com/PL_AS" width=100% height=50% frameborder="0"></iframe>';
                        }
                    }
                } ],
                map.write("mapdiv");
            });
        </script>
<!-- COLUMN SCRIPT AS-->
        <script type="text/javascript">
            var chart;
            AmCharts.ready(function () {
                chart = new AmCharts.AmSerialChart();
                // Load external CSV
                chart.dataLoader = {
                    url: "{% static 'csv/contrycompareAS.csv' %}",
                    format: "csv",
                    delimiter: ",",
                    useColumnNames: true,
                };
                chart.categoryField = "country";
                chart.plotAreaBorderAlpha = 0.2;
                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                chart.addValueAxis(valueAxis);
                // GRAPHS
                // COMPLIANT AS V4
                var graph = new AmCharts.AmGraph();
                graph.title = "UnSpoofable ASes IPv4";
                graph.labelText = "[[value]]";
                graph.valueField = "compliantAS";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#31823a";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'><b>[[value]] UnSpoofable ASes</b></span>";
                chart.addGraph(graph);
                // Inconsistent AS
                graph = new AmCharts.AmGraph();
                graph.title = "NAT-Blocking ASes";
                graph.labelText = "[[value]]";
                graph.valueField = "inconsistentAS";
                graph.type = "column";
                graph.newStack = true; // this line starts new stack
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#4ac959";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'><b>[[value]] NAT-Blocking ASes</b></span>";
                chart.addGraph(graph);
                // MIXED AS
                graph = new AmCharts.AmGraph();
                graph.title = "Mixed ASes";
                graph.labelText = "[[value]]";
                graph.valueField = "mixedAS";
                graph.type = "column";
                graph.newStack = true; // this line starts new stack
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#efca23";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'><b>[[value]] Mixed ASes</b></span>";
                chart.addGraph(graph);
                // SPOOFABLE AS
                graph = new AmCharts.AmGraph();
                graph.title = "Spoofable ASes";
                graph.labelText = "[[value]]";
                graph.valueField = "spoofableAS";
                graph.type = "column";
                // graph.newStack = true; // this line starts new stack
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#e85c3a";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'><b>[[value]] Spoofable ASes</b></span>";
                chart.addGraph(graph);
                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.borderAlpha = 0.2;
                legend.horizontalGap = 10;
                chart.addLegend(legend);
                // WRITE
                chart.write("clusteredbarAS");
            });
        </script>
<!-- COLUMN SCRIPT IP-->
        <script type="text/javascript">
            var chart;
            AmCharts.ready(function () {
                chart = new AmCharts.AmSerialChart();
                //chart.dataProvider = chartData;
                // Load external CSV
                chart.dataLoader = {
                    url: "{% static 'csv/contrycompare.csv' %}",
                    format: "csv",
                    delimiter: ",",
                    useColumnNames: true,
                };
                chart.categoryField = "country";
                chart.plotAreaBorderAlpha = 0.2;
                // AXES
                // category
                var categoryAxis = chart.categoryAxis;
                categoryAxis.gridAlpha = 0.1;
                categoryAxis.axisAlpha = 0;
                categoryAxis.gridPosition = "start";
                // value
                var valueAxis = new AmCharts.ValueAxis();
                valueAxis.stackType = "regular";
                valueAxis.gridAlpha = 0.1;
                valueAxis.axisAlpha = 0;
                chart.addValueAxis(valueAxis);
                // GRAPHS
                // Blocking IPv6
                var graph = new AmCharts.AmGraph();
                graph.title = "UnSpoofable IP prefixes";
                graph.labelText = "[[value]]";
                graph.valueField = "compliant";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#31823a";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] IP prefixes</b></span>";
                chart.addGraph(graph);
                // NAT-BLOCKING
                var graph = new AmCharts.AmGraph();
                graph.title = "NAT-Blocking IP prefixes";
                graph.labelText = "[[value]]";
                graph.valueField = "nat";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#4ac959";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] IP prefixes</b></span>";
                chart.addGraph(graph);
                // MIXED IPv4
                graph = new AmCharts.AmGraph();
                graph.title = "Mixed IP prefixes";
                graph.labelText = "[[value]]";
                graph.valueField = "mixed";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#efca23";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] IP prefixes</b></span>";
                chart.addGraph(graph);
                // SPOOFABLE IPv4
                graph = new AmCharts.AmGraph();
                graph.title = "Spoofable IP prefixes";
                graph.labelText = "[[value]]";
                graph.valueField = "spoofable";
                graph.type = "column";
                graph.lineAlpha = 0;
                graph.fillAlphas = 0.7;
                graph.lineColor = "#e85c3a";
                graph.balloonText = "<span style='color:#555555;'>[[category]]</span><br><span style='font-size:14px'>[[title]]:<b>[[value]] IP prefixes</b></span>";
                chart.addGraph(graph);
                // LEGEND
                var legend = new AmCharts.AmLegend();
                legend.borderAlpha = 0.2;
                legend.horizontalGap = 10;
                chart.addLegend(legend);
                // WRITE
                chart.write("clusteredbar");
            });
        </script>
        <script>
            function myShowHide() {
                var x = document.getElementById("metrics");
                var y = document.getElementById("message");
                if (x.style.display === "none") {
                    x.style.display = "block";
                    y.style.display = "none";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
        <script>
            function myShowMessage() {
                var x = document.getElementById("message");
                var y = document.getElementById("metrics");
                if (x.style.display === "none") {
                    x.style.display = "block";
                    y.style.display = "none";
                } else {
                    x.style.display = "none";
                }
            }
        </script>
    </head>
    <body>
        <div class = "header">
            <h1>InfoSpoofing</h1>
        </div>
        <!-- NAVIGATION BAR -->
                <div class="menu-wrap">
            <nav class="menu">
                <ul class="clearfix">
                    <li class="current-item"><a href="http://infospoofing.pythonanywhere.com">Home</a></li>
                    <li>
                        <a href="#">Countries <span class="arrow">&#9660;</span></a>
                        <ul class="sub-menu">
                            <li><a href="http://infospoofing.pythonanywhere.com/au">Australia</a></li>
                            <li><a href="http://infospoofing.pythonanywhere.com/de">Germany</a></li>
                            <li><a href="http://infospoofing.pythonanywhere.com/it">Italy</a></li>
                            <li><a href="http://infospoofing.pythonanywhere.com/nl">Netherlands</a></li>
                            <li><a href="http://infospoofing.pythonanywhere.com/pl">Poland</a></li>
                            <li><a href="http://infospoofing.pythonanywhere.com/uk">United Kingdom</a></li>
                        </ul>
                    </li>
                    <li><a href="http://infospoofing.pythonanywhere.com/remediation">Remediation</a></li>
                    <li><a href="http://infospoofing.pythonanywhere.com/about">About</a></li>
                </ul>
            </nav>
        </div>
<!-- CONTENT-->
        <div class="content">
            <h1 align="center" style="margin-top: -15px;">Don't let attackers spoof you!</h1>
                <br><p>Every day, attackers exploit the lack of anti-spoofing filtering for their criminal operations. Despite being a known vulnerability for at least 25 years, <i>IP source address spoofing</i> still remains a popular attack method for redirection, amplification, and anonymity attacks, partially due to the little information available on “spoofable” network operators.
                In the effort to prevent further attacks based on IP spoofing, cybersecurity researchers from Delft University of Technology have been conducting measurements of compliance with anti-spoofing best practices to identify non-compliant Autonomous systems (ASes) and IP prefixes.
                On this page, we display the result of measurements collected over the last year, with different kinds of aggregation.
                </p>
                <button onclick="myShowMessage()">IP Spoofing</button><button onclick="myShowHide()">Metrics</button>
                <p id="metrics" style="font-size: 14px; background-color: #F2F3F4; padding:20 30; margin-top: -10px; border:solid 1px; border-color: #B7B7B7; border-radius: 10px; display: none;">
                Measurements have been collected using CAIDA's <a href="https://www.caida.org/projects/spoofer/#software" target="_blank" style="color: 159124;">Spoofer Application</a>. The program attempts to send a series of spoofed UDP packets to servers distributed throughout the world. Each packet with a spoofed address can face one of the following outcomes:
                <b>(1)</b> the packet is dropped by an in-network anti-spoofing filter (unspoofable), <b>(2)</b> a Network Address Translation device along the path rewrites the source address so spoofing cannot occur (NAT-Blocking), or <b>(3)</b> the packet is forwarded to the recipient (Spoofable). Tests that couldn't evaluate whether spoofing or blocking occur are excluded.<br>
                <br>For each IP prefixes tested, we determinate the state (UnSpoofable, NAT-Blocking, Spoofable or Mixed) evaluating all the tests from that prefix:<br>
                -  <b style="color: darkgreen;">UnSpoofable:</b> a prefix from which the majority of test is UnSpoofable.<br>-  <b style="color: limegreen;">NAT-Blocking:</b> a prefix from which the majority of test is NAT-Blocked.<br>-  <b style="color: red;">Spoofable:</b> a prefix from which the most recent test is Spoofable.<br>-  <b style="color: orange;">Mixed:</b> a prefix from which we received at least one spoofable test over the last year, but the most recent test is not spoofable.
                <br>The same metrics apply to ASes.
                <p id="message" style="font-size: 14px; background-color: #F2F3F4; padding:20 30; margin-top: -10px; border:solid 1px; border-color: #B7B7B7; border-radius: 10px; display: none;">
                    <a href="https://en.wikipedia.org/wiki/IP_address_spoofing" target="_blank" style="color: 159124;">IP address spoofing</a> is the illicit practice of creating Internet packets with a fake source address, in order to mask the sender identity or to impersonate another computer system, and it is larged used by criminals to launch massive DDoS attacks. To prevent attacks based on IP spoofing, Internet Service Providers should implement Source Address Validation according to <a href="https://tools.ietf.org/html/bcp38" target="_blank" style="color: 159124;">BCP38</a> or <a href="https://tools.ietf.org/html/bcp84" target="_blank" style="color: 159124;">BCP84</a>, Best Common Practices to drop spoofed packets. <a href="http://infospoofing.pythonanywhere.com/remediation" style="color: 159124;">Read more.</a><br>
                    <br>Unfortunately, information on the deployment of BCP38/84 is very difficult to retrieve. For this reason, researchers of CAIDA have launched the <a href="https://www.caida.org/projects/spoofer/" target="_blank" style="color: 159124;">Spoofer Project</a>, providing a test application that measures compliance with BCP38 of the network on which it runs. We have used crowdsourcing platforms for recruiting volunteers in six countries to run the test, and further increase the number of observed network.<br>
                    <br>Given the difficulties in measuring compliance with anti-spoofing filters, and given the little information available, we believe that sharing our results on deployment of Source Address Validation might be beneficial for the Internet community.
                </p>
            <div align="center">
                <br><p>Scroll down to see some general statistics. Click on the map to display country-level information. Check out more details on the country page.</p>
                <div id="mapdiv" style=" width: 90%; height: 50%; background-color:#f2f3f4; border:solid 1px; border-color: #B7B7B7; border-radius: 10px;"></div>
            </div>
        </div>
        <!--CONTAIN THE DETAILS AFTER CLICK ON MAP-->
        <div id=external style="border:dotted 0px; border-color: black; margin-top:-50px; margin-right: 50px;">
            <div id="descriptionA" align="center" style=" margin-right: 50px; margin-left: 70px;">
            </div>
            <div id="descriptionB" align="center" style=" margin-right: 50px; margin-left: 70px; border:dotted 0px; border-color: blue;">
            </div>
            <div id="descriptionC" align="center" style=" margin-right: 50px; margin-left: 75px; border:dotted 0px; border-color: red;">
            </div>
        </div>
<!--CLUSTER COLUMN AS-->
        <div align="center">
            <br>
            <h4>Results by Autonomous System</h4>
            <!--CLUSTER COLUMN AS -->
            <div id="clusteredbarAS" style=" width:80%; height:40%;"></div>
        </div>
<!--CLUSTER COLUMN IP-->
        <div align="center" >
            <br>
            <h4>Results by IP prefix</h4>
            <!--CLUSTER COLUMN  -->
            <div id="clusteredbar" style=" width:80%; height:50%;"></div>
        </div>
<!--FOOTER-->
        <div class = "footer">
            <br>
            <div>
                <ul>
                    <li style="margin-left: 25px; margin-top: 25px;"><a href="http://infospoofing.pythonanywhere.com/">Home</a></li>
                    <li style="margin-top: 25px;"><a href="http://infospoofing.pythonanywhere.com/remediation">Remediation</a></li>
                    <li style="margin-top: 25px;"><a href="http://infospoofing.pythonanywhere.com/about">About</a></li>
                    <li style="margin-top: 25px;"><a href="mailto:infospoofing@tudelft.nl">infospoofing@tudelft.nl</a></li>
                    <li style="float:right; margin-right: 50px;"> <a href="#"><img border="0" alt="TUDelft" src="{% static 'TUDelft.png' %}" width="150" height="75"></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>